.chinese {
	background-color:#E00606;

	div {
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		color: white;
	}
}
.japanese {

	div {
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
	}
}
.american {
	background-color: #0A3161;;
	div {
		font-size: 32px;
		font-style: normal;
		font-weight: 400;
		line-height: normal;
		color: white;
	}

}
